/* Color Scheme
red- #BC032B
black- #000000
white- rgb 240

*/

@font-face {
    font-family: score-board;
    src: url("CursedTimerUlil-Aznm.ttf");
}
body{
    height: auto;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 50px auto;
    width: 575px;
    height: 385px;

    background-image: url("background-img.jpg");
    background-position: center center;
    background-size: cover;
    

    background-color: #BC032B;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team{
    font-weight: bold;
    color: #BC032B;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 21px auto 26px;
    height: 120px;
    width: 155px;

    background-color: rgb(240, 240, 240);
    color: #BC032B;
    font-family: score-board;
    border-radius: 5px;
}

button{
    font-family: score-board;
    font-weight: bold;
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    color: #BC032B;
    font-size: 18px;
    cursor: pointer;
}

#new-game{
    margin: 300px 50px 10px;
    width: auto;
    height: auto;
    color:white;
    background: transparent;
    border-bottom: 5px solid #BC032B;
    border-radius: 0;
}



